@media only screen and (max-width: 767px) {
    .menu {
        background-color: #556270;
        justify-content: center;
    }
    .row, li {
      list-style-type: none;
      padding: 20px;
  ;}
  .banner-img{display: none;}
  .banner-text h1{font-size: 60px;}
  .main-content h2{font-size: 60px}
    .menu-left ul li a, .menu-right ul li a{
        color: white;
        font-size: 4vw;
    }
    .menu-left li{
        padding-left: 5px;
        float: left;

    }
    .menu-right{
      padding-right: 5px;
      float: right;
  }
  }