.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menu1 li a {
    font-size: 200px !important;
} */

.menu li a {
    padding: 9px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    line-height: 100%;
    text-decoration: none !important;
    color: #4F4F4F !important;
    font-size: 20px !important;
}
.banner1{
    margin-bottom: 30px;
}
li {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    outline: none
}

li {
    text-align: center;
}

ul,
li {
    list-style-type: none;
}

h1 {
    margin: 20px;
    text-align: center;
    color: rgb(11, 83, 148);
    font-size: 40px;
    width: 100%;
}

#anh171819 {
    margin-top: 30px;
}

#anh1314 {
    margin-top: 30px;
}

.full {
    padding-left: 350px;
    padding-right: 350px;
}

p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 80px;
}